<template lang="pug">
  .top-banner
    .top-banner__info
      TopBannerNowData
      TopBannerTimmer
    .top-banner__account
      TopBannerFold
      TopBannerAccount
</template>

<script>
import TopBannerNowData from './TopBannerInfo/TopBannerNowData'
import TopBannerTimmer from './TopBannerInfo/TopBannerTimmer'
import TopBannerFold from './TopBannerAccount/TopBannerFold'
import TopBannerAccount from './TopBannerAccount/TopBannerAccount'

export default {
  name: 'TopBanner',
  components: {
    TopBannerNowData, TopBannerTimmer, TopBannerFold, TopBannerAccount
  }
}
</script>

<style lang="scss" scoped>
  .top-banner {
    width: calc(100% - 212px);
    height: 80px;
    background: white;
  }

  .top-banner__info {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 212px;
    width: 100%;
    height: 32px;
    background: #F2F6FC;
  }

  .top-banner__account {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 212px;
    width: 100%;
    height: 32px;
  }
</style>