@mixin navHover($color) {
  color: $color;
  cursor: pointer;
}

.sider-navbar {
  position: relative;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  background: rgb(25,48,78);
  color: rgb(190, 190, 190);
  z-index: 200;
}

.title {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  height: 100%;
  padding-top: 1em;

  &:hover {
    @include navHover(#5B94EC);
  }
}

.sider-navbar__sider-title {
  background: #123D65;
  color: white;
  height: 5em;
}

.sider-navbar__button-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.sider-navbar__button {
  padding-top: .7em;
  padding-bottom: .7em;

  .sider-navbar__angle-down {
    padding-right: 6px;
    transition: .5s;
    transform-origin: 18px 10px;
  }

  svg, span {
    text-align: left;
    display: inline-block;
    transition: .35s;
  }

  svg {
    padding-left: 8px;
    padding-top: 3px;
    width: 20px;
  }
  
  span {
    padding-left: 10px;
    width: 100px;
  }

  &:hover {
    @include navHover(#EFF0F2);
  }
}

.sider-navbar__child {
  background: #141828;
  overflow: hidden;
  height: 0px;
  transition: .5s;
}

.sider-navbar__child-row {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 12px;
  padding-left: 6em;

  a {
    color: rgb(190, 190, 190);
    display: inline-block;
    height: 32px;
    width: 100%;
    text-align: left;
    padding-top: 9px;
    text-decoration: none;

    &:hover {
      @include navHover(#EFF0F2);
    }
  }
}