@import "login-page-animate.css";

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(82, 82, 82);
}

.background_layer-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 100;
  overflow: hidden;
}

.background_shine {
  /* background: maroon; */
  background: -webkit-linear-gradient(left bottom, rgb(138, 80, 112), rgb(40, 70, 140));
}

.background_layer-2 {
  position: absolute;
  top: -100px;
  left: -140px;
  width: 100%+140px;
  height: 100%+100px;
  opacity: 1;
  z-index: 101;
}

.login-form {
  z-index: 200;
}

.login-form__title {
  color: white;
}

.login-form__content {
  padding-top: 1em !important;
}

.login-form__content span {
  text-align: start;
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding-bottom: .5em;
}

.login-form__content span, input {
  display: block;
}

.login-form__checkbox {
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-color: rgb(230, 230, 230);
}

.login-form__checkbox:hover + .login-form__checkbox-label {
  cursor: pointer;
}

.login-form__checkbox:checked + .login-form__checkbox-label {
  transition: .2s;
  color:rgb(64, 157, 255);
}

.login-form__checkbox-row {
  display: flex;
  align-items: inherit;
}

.login-form__checkbox-label {
  color: white;
  font-weight: bold;
}

.login-form__checkbox-row span, input {
  display: inline;
  padding-left: .2em;
}

.login-form__content-input {
  height: 40px;
  width: 250px;
  border-radius: 5px;
  border-style:solid;
  border-width: 1px;
  border-color: rgb(240, 240, 240);
  padding: 0 15px 0 15px;
  display: inline-block;
  background-color: white;
  text-shadow: none;
  text-transform: none;
  text-indent: 0px;
}

.login-form__content-input::placeholder {
  color:rgb(173, 173, 173);
  opacity: .8;
  font-size: 14px;
}

.login-form__row {
  padding: .7em;
}

.login-form__submit {
  border-radius: 5px;
  border-style: none;
  width: 95%;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
}

.login-form__button_primary {
  background-color: #409EFF;
  border-color: rgb(240, 240, 240);
  color: white;
  transition: .3s;
}

.login-form__button_primary:hover {
  background-color: rgb(133, 187, 241);
  cursor: pointer;
}

.login-form__signtag {
  color: white;
  font-size: 13px;
  float: right;
  padding-top: 1em;
}

.hexagon {
  position: relative;
  z-index: 10;
  background: -webkit-linear-gradient(222deg, rgba(240, 240, 240, 0), rgba(240, 240, 240, .08));
  background-size: 300% 300%;
  width: 300px;
  height: 250px;
  clip-path:polygon(25% 0%, 75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
  animation-name: breathe;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.hexagon__platform {
  margin: 0;
  white-space: nowrap;
  width: 100%;
  height: 250px;
}

.hexagon__platform-box {
  position: relative;
  list-style: none;
  display: inline-block;
}
