.fund-reports {
  position: relative;
  left: 212px;
  width: calc(100% - 212px);
  height: 100%;
}

.fund-reports__workground {
  margin: 15px;
  padding: 20px;
  background: white;
  width: calc(100% - 70px);
  min-height: calc(100% - 30px);
}

.fund-reports__bread {
  font-size: 16px;
}

.serach-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-label__required {
  color: #9FA0A6;
}

.content-label, .time-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}

.button-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
}

.function-label {
  text-align: left;
}

.el-popover__data-list {
  padding: 0;
  display: block;
  list-style: none;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.el-popover__data-item {
  width: 100%;
  padding: 10px 10px 10px 20px;
  transition: .3s;

  &:hover {
    cursor: pointer;
    background: rgba(231, 231, 231, 0.534);
  }
}