<template lang="pug">
  mixin sider-navbar--button(iconName, content, itemName)
    .sider-navbar__button-row(status='unclicked')
      .sider-navbar__button(@click='unfoldMenu')
        font-awesome-icon(icon=`${iconName}`)
        span #{content}
        font-awesome-icon.sider-navbar__angle-down(icon='angle-down')
      - if (itemName)
        .sider-navbar__child
          .sider-navbar__child-row(v-for=`(item) in menu[${itemName}]`)
            router-link(:to='item.path') {{ item.name }}

  aside.sider-navbar
    .sider-navbar__sider-title
      router-link.title(:to=`{name: 'Dashboard'}`) mega7
      //- h1 mega7
    .sider-navbar__navigation
      +sider-navbar--button('border-all', '遊戲管理', 1)
      +sider-navbar--button('users', '帳號管理', 2)
      +sider-navbar--button('yen-sign', '現金系統', 3)
      +sider-navbar--button('user-plus', '推廣管理', 4)
      +sider-navbar--button('hand-holding-usd', '返水管理', 9)
      +sider-navbar--button('bullhorn', '公告訊息', 5)
      +sider-navbar--button('chart-pie', '報表', 6)
      +sider-navbar--button('window-maximize', '網站管理', 7)
      +sider-navbar--button('gift', '優惠活動管理', 10)
      +sider-navbar--button('list', '操作記錄', 8)
</template>

<script>
import {menuListMap} from './MenuListMap'

export default {
  name: 'SiderNavbar',
  data() {
    return {
      menu: []
    }
  },
  created: function() {
    const config = {
      headers: {
        'Api-Token': this.$store.state.apiToken
      }
    }

    this.axios.get('/api/menu/list', config)
      .then((response) => {
        this.$store.commit('settingMenu', response.data.result)
        this.menu = translateMenu(this.$store.state.menu)
      })
      .catch((error) => {
        console.log(error)
      })

    function translateMenu(menu) {
      const translatedMenu = []
      for (let value of menu) {
        const nowOption = value
        translatedMenu[nowOption.code] = []
        for (let subValue of value.auth_sub_option) {
          const thisListItemMap = menuListMap[`${nowOption.name.toLowerCase()}`][`${subValue.name}`]
          const newName = thisListItemMap.name || ''
          const newPath = `/${nowOption.name.toLowerCase()}/${thisListItemMap.path}`
          
          translatedMenu[nowOption.code].push({
            name: newName,
            path: newPath
          })
        }
      }

      return translatedMenu
    }
  },
  methods: {
    unfoldMenu: function(e) {
      const clickedButton = e.path.filter(node => {
        return (node.className === 'sider-navbar__button-row')
      })[0]
      const mainButtonChilds = clickedButton.childNodes[0].childNodes
      const childButton = clickedButton.childNodes[1]

      let isUnfold = clickButton()
      this.removeOtherClicked(clickedButton)
      
      this.angleIconTransition(mainButtonChilds[2], isUnfold)
      this.childButtonTransition(childButton, isUnfold)

      function clickButton() {
        let status = clickedButton.getAttribute('status')

        if (status === 'unclicked')
          clickedButton.setAttribute('status', 'clicked')
        else
          clickedButton.setAttribute('status', 'unclicked')

        return (clickedButton.getAttribute('status') === 'clicked')
      }
    },
    angleIconTransition: function(angle, isUnfold) {
      if (isUnfold)
        setAngle(180)
      else
        setAngle(0)

      function setAngle(degree) {
        angle.setAttribute('style', `
            transform: rotateZ(${degree}deg);
          `)
      }
    },
    childButtonTransition: function(childButton, isUnfold) {
      const childsLength = childButton.childNodes.length
      
      if (isUnfold) {
        childButton.setAttribute('style', `
          height: ${41 * childsLength}px;
        `)
      }
      else {
        childButton.setAttribute('style', `
          height: 0px;
        `)
      }
    },
    removeOtherClicked: function(clickedButton) {
      const allNodes = document.getElementsByClassName('sider-navbar__button-row')
      
      for (let value of allNodes) {
        if (value.getAttribute('status') === 'clicked' && clickedButton !== value) {
          value.setAttribute('status', 'unclicked')
          this.angleIconTransition(value.childNodes[0].childNodes[2], false)
          this.childButtonTransition(value.childNodes[1], false)
        }
      }
    }
  }
}
</script>

<style src='@/assets/components/SiderNavbar/sider-navbar.scss' lang="scss" scoped>
</style>