<template lang="pug">
  .siderbar-fold
    font-awesome-icon.fold-button.fa-lg(icon='indent' @click='siderbarFold' status='unclicked')
</template>

<script>
export default {
  name: 'TopBannerFold',
  methods: {
    siderbarFold: function() {
      const foldButton = document.getElementsByClassName('fold-button')[0]
      if (foldButton.getAttribute('status') === 'unclicked') {
        foldButton.setAttribute('style', 'transform: rotate(0deg);')
        foldButton.setAttribute('status', 'clicked')
      }
      else {
        foldButton.setAttribute('style', 'transform: rotate(180deg);')
        foldButton.setAttribute('status', 'unclicked')
      }
    }
  }
}
</script>

<style lang="scss">
  .siderbar-fold {
    height: 100%;
    width: 100%;
    text-align: left;
    padding: .8em;
    padding-left: 20px;
  }

  .fold-button {
    transform: rotate(180deg);
    transition: .3s;
    color: #C0C4CC;

    &:hover {
      cursor: pointer;
    }
  }
</style>