<template lang="pug">
  mixin dropdownMenu(content, icon, command)
    el-dropdown-item(command= command)
      font-awesome-icon.top-account__icon(icon= icon)
      | #{content}

  .top-account
    font-awesome-icon.top-account__icon.sound-button.fa-lg(icon='volume-up' @click='soundClick' v-if=`soundStatus === 'unclicked'`)
    font-awesome-icon.top-account__icon.sound-button.fa-lg(icon='volume-mute' @click='soundClick' v-else)
    el-dropdown(trigger='click' @command='accountClick')
      span.el-dropdown-link
        font-awesome-icon.top-account__icon.fa-lg(icon='user')
        span.top-account__account-name 直營廳主：{{ account }}
        i.el-icon-arrow-down.el-icon--right
      el-dropdown-menu(slot='dropdown')
        +dropdownMenu('變更密碼', 'user-edit', 'changePassword')
        +dropdownMenu('登出', 'sign-out-alt', 'logout')

</template>

<script>
export default {
  name: 'TopBannerAccount',
  data() {
    return {
      soundStatus: 'unclicked',
      account: localStorage.getItem('account')
    }
  },
  methods: {
    accountClick: function(command) {
      switch (command) {
        case 'changePassword':
          this.changePassword()
          break
        case 'logout':
          this.logout()
          break
        default:
          console.log('account click something went wrong!')
          break
      }
    },
    soundClick: function() {
      if(this.soundStatus === 'unclicked') { 
        this.soundStatus = 'clicked'
      }
      else {
        this.soundStatus = 'unclicked'
      }
    },
    logout: function() {
      localStorage.removeItem('apiToken')
      localStorage.removeItem('account')
      this.$store.commit('loginAuth', null)
      this.$store.commit('settingMenu', null)
      this.$router.push({name: 'LoginPage'})
    },
    changePassword: function() {
      console.log('changePassword')
    }
  }
}
</script>

<style lang="scss">
  .top-account {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    text-align: right;
    padding: .8em;
    color: #606266;
  }

  .sound-button {
    &:hover {
      cursor: pointer;
    }
  }

  .top-account__icon {
    padding-right: 10px;
  }

  .el-dropdown-link {
    &:hover {
      cursor: pointer;
      color: rgb(102, 167, 228);
    }
  }
</style>