<template lang="pug">
  div.dashboard
    span this is dash board
</template>

<script>
export default {
  name: 'Dashboard',
  created: function(){
    
  }
}
</script>

<style lang="scss" scoped>
  .dashboard {
    position: relative;
    left: 212px;
    width: calc(100% - 212px);
  }
</style>