<template lang="pug">
  mixin label_title(content, required)
    span.content-label__title #{content}
        span.content-label__required(v-if= `${required}`) (必填)
        | ：

  mixin content-label(content, required, data, bind, isSelect, disabled, multiple, onChange, clearable)
    .content-label
      +label_title(content, required)
      el-select(class=`${data}` v-if=`${isSelect}` v-model=`${bind}` placeholder='请选择' :disabled=`${disabled}` :multiple=`${multiple}` :collapse-tags=`${multiple}` @change=`${onChange}` :clearable=`${clearable}`)
        el-option(v-for=`item in ${data}` :key='item.id' :label='item.name' :value='item.id')
      el-popover(v-else popper-class='accountList' placement='bottom' width='200' trigger='manual' v-model='accountPopover')
        loading(v-if='accountPopoverLoading')
        ul.el-popover__data-list
          li.el-popover__data-item(v-for='item in accountPopoverList' @click='selectPopoverItem') {{item.account}}
        el-input(class=`${data}` slot="reference" v-model=`${bind}` placeholder='请输入内容' :disabled=`${disabled}` @input=`${onChange}`)

  mixin time-label(content, required)
    .time-label
      +label_title(content, required)
      el-date-picker(v-model='operateTime' type='datetimerange' range-separator='-' start-placeholder='开始日期' end-placeholder='结束日期' :default-time="['00:00:00', '23:59:59']")
        
  mixin button-label
    .button-label
      el-button(type='primary' @click.prevent='checkSearchingParams') 搜寻
      el-button(@click.prevent='clearAllSelect') 清除

  mixin table-column(prop, label, width, fixed, index)
    el-table-column(:fixed=`${fixed}` prop=`${prop}` label=`${label}` width=`${width}` class-name=`column_${index}`)

  .fund-reports
    .fund-reports__workground
      loading(v-if=`this.$store.state.isLoading`)
      el-breadcrumb.fund-reports__bread(separator-class='el-icon-arrow-right')
        el-breadcrumb-item 首頁
        el-breadcrumb-item 資金報表
      el-divider(content-position="left")
      .serach-form
        +content-label('站台', true, `siteList`, 'siteSelect', true, false, false, 'changeSite', false)
        +content-label('角色', false, 'characterList', 'characterSelect', true, false, false, 'changeCharacter', true)  
        +content-label('帐号', `characterSelect !== ''`, 'accountList', 'accountSelect', 'changeAccountInputType', 'changeAccountDisabled', false, 'changeAccount', true)
        +time-label('操作時間', true)
        +content-label('会员层级', false, 'layerList', 'layerSelect', true, 'changeLayerDisabled', false, '', true)
        +content-label('资料显示栏位', false, 'dataDisplayList', 'dataDisplaySelect', true, false, true, 'changeDisplay', true)
        +button-label
      el-divider(content-position="left")
      .function-label
        el-dropdown(@command='exportFile')
          el-button(type='primary') 汇出至
            i.el-icon-arrow-down.el-icon--right
          el-dropdown-menu(slot='dropdown')
            el-dropdown-item(command='csv') .csv
            el-dropdown-item(command='xlsx') .xlsx
      .table-label
        el-table(:data='dividedDataTable' :summary-method='getSummaries' show-summary  style='width: 100%; height: 100%;')
          +table-column('Account', '帐号', '150', true, 0)
          +table-column('Agent', '上层代理', '150', false, 1)
          +table-column('LastDepositCluster.dateOffset', '最后存款时间', '150', false, 2)
          +table-column('LastDepositCluster.Offset', '最后存款天数', '150', false, 3)
          +table-column('FundingCluster.Deposit', '总存款额', '150', false, 4)
          +table-column('FundingCluster.Withdraw', '总取款额', '150', false, 5)
          +table-column('FundingCluster.Promotion', '优惠金额总计', '150', false, 6)
          +table-column('FundingCluster.Rebate', '返水', '150', false, 7)
          +table-column('GameCluster.ValidBet', '有效投注', '150', false, 8)
          +table-column('GameCluster.Gain', '游戏损益', '150', false, 9)
          +table-column('FundingCluster.Interval', '存提差', '150', false, 10)
          +table-column('FundingAllCluster.Interval', '总存提差', '150', false, 11)
      table-pagination(v-show='fetchFundsReportsDataTable.length != 0' @changePage='getPageDataList' @divideDataTable='dividedData' :dataList='fetchFundsReportsDataTable' :total='this.pageInfo.total')
</template>

<script>
  import Loading from '@/components/Loading'
  import TablePagination from '@/components/TablePagination'
  import _ from 'lodash'

  export default {
    name: 'FundsReports',
    components: {
      Loading, TablePagination
    },
    data() {
      return {
        axiosConfig: {
          headers: {
            'Api-Token': this.$store.state.apiToken,
            'content-type': 'application/x-www-form-urlencoded'
          }
        },
        axiosBlobConfig: {
          headers: {
            'Api-Token': this.$store.state.apiToken,
            'content-type': 'application/x-www-form-urlencoded',
          },
          'responseType': 'blob'
        },
        characterList: [
          {
            id: 0,
            item_id: 4,
            name: '股东',
            class: 'shareholder'
          },
          {
            id: 1,
            item_id: 6,
            name: '总代',
            class: 'generalAgent'
          },
          {
            id: 2,
            item_id: 8,
            name: '代理',
            class: 'agent'
          },
          {
            id: 3,
            item_id: 10,
            name: '会员',
          }
        ],
        characterSelect: '',
        siteList: null,
        siteSelect: null,
        accountSelect: null,
        accountList: null,
        layerList: null,
        layerSelect: null,
        dataDisplayList: [
          {
            id: 0,
            name: '上层代理'
          },
          {
            id: 1,
            name: '最后存款时间'
          },
          {
            id: 2,
            name: '最后存款天数'
          },
          {
            id: 10,
            name: '总存提差'
          },
        ],
        dataDisplaySelect: [0, 1, 2, 10],
        operateTime: [this.$moment().startOf('day'), this.$moment().endOf('day')],
        changeAccountInputType: true,
        changeAccountDisabled: true,
        changeLayerDisabled: false,
        fundsReportsDataTable: [],
        fundsReportsDataTableSummaries: [],
        dividedDataTable: [],
        accountPopover: false,
        accountPopoverLoading: false,
        accountPopoverList: [],
        pageInfo: {
          Page: 1,
          EachPage: 50,
          total: 1
        }
      }
    },
    mounted:async function() {
      const searchData = this.parseURLSearchData()
      if (searchData) {
        this.searching(searchData) 
      }

      await this.blockInput(this.getSiteList(), ['siteList', 'layerList'])
      await this.blockInput(this.getLayerList(), ['layerList'])
        .then(() => {
          if (searchData) {
            this.injectSearchParamsToForm(searchData)
          }
        })
    },
    methods: {
      getSiteList: function (){ 
        return new Promise((resolve, reject) => {
          this.axios.get('/api/site/dropdownlist/?Status=1', this.axiosConfig)
            .then((response) => {
              this.siteList = response.data.result  
              this.siteSelect = 1
              resolve()
            })
            .catch((error) => {
              console.log(error)
              reject()
            })  
          })
      },
      getLayerList: function() {
        return new Promise((resolve, reject) => {
          this.axios.get(`/api/user_level/dropdownList/${this.siteList[parseInt(this.siteSelect)-1].site_code}`, this.axiosConfig)
            .then((response) => {
              this.layerList = response.data.result
              this.layerSelect = null
              resolve()
            })
            .catch((error) => {
              console.log(error)
              reject()
            })
          })
      },
      getAccountList: function() {
        return new Promise((resolve, reject) => {
          this.axios.get(`/api/${this.characterList[this.characterSelect].class}/dropdownlist/${this.siteList[parseInt(this.siteSelect-1)].site_code}`, this.axiosConfig)
            .then((response) => {
              this.accountList = response.data.result
              resolve()
            })
            .catch((error) => {
              console.log(error)
              reject()
            })
        })
      },
      getInputAccountList: async function() {
        document.getElementsByClassName('accountList')[0].addEventListener('focusout', () => {
          setTimeout(() => {
            this.outFocusPopoverList()
          }, 100);
        })

        this.accountPopover = true
        this.accountPopoverLoading = true
        const inputAccount = await this.axios.get(`/api/user/blurry/${this.siteList[parseInt(this.siteSelect)-1].site_code}/${this.accountSelect}`, this.axiosConfig)
          .then((response) => {
            this.accountPopoverLoading = false
            return response.data.result
          })
        this.accountPopoverList = inputAccount
      },
      clearAllSelect: function() {
        this.siteSelect = null
        this.characterSelect = ''
        this.accountSelect = null
        this.accountList = null
        this.layerSelect = null
        this.layerList = null
        this.changeLayerDisabled = true
        this.fundsReportsDataTable = []
        this.fundsReportsDataTableSummaries = []
        this.dividedDataTable = []
        this.accountPopover = false
        this.accountPopoverLoading = false
        this.accountPopoverList = []
        window.history.replaceState({}, document.title, window.location.origin + window.location.pathname)
      },
      checkSearchingParams: function(...searchData) {
        //檢查是否必填欄位未填
        let check = true
        check = checkParams(check, () => {
          if (!this.siteSelect)
            this.$message({
                  message: '請選擇站台',
                  type: 'warning'
                })
          return this.siteSelect
        })
        check = checkParams(check, () => {
          if (this.characterSelect !== '') {
            if(!this.accountSelect) {
              this.$message({
                message: '請選擇帳號',
                type: 'warning'
              })    
            }
            return this.accountSelect
          }
          return check
        })
        check = checkParams(check, () => {
          if (this.operateTime === null) {
            this.$message({
                message: '請選擇操作時間',
                type: 'warning'
              })
          }
          
          return this.operateTime
        })
        if (!check) {
          return
        }
        function checkParams(check, param) {
          return check && param()
        }
        
        let data = {}
        // 取得搜尋資料
        if(searchData[0].button !== 0) {
          data = searchData[0]
        }
        else {
          data = this.parseSearchData()
        }
        
        this.searching(data)
      },
      getPageDataList: function(pageInfo) {
        this.pageInfo = pageInfo
        this.searching(this.parseSearchData())
      },
      searching: function(data) {
        new Promise((resolve) => {
          this.$store.commit('isLoading', true)
          this.axios.post('/api/v1/back/report/detailoffunding/list', data, this.axiosConfig)
            .then((response) => {
              const resultRows = response.data.result.Rows
              resolve(resultRows)
            })
            .catch((error) => {
              console.log(error)
            })
          })
          .then((result) => {
            this.axios.post('/api/v1/back/report/detailoffunding/stat', data, this.axiosConfig)
              .then((response) => {
                const data = response.data.result
                this.fundsReportsDataTableSummaries = ['合计', '', '', '', data.FundingCluster.Deposit, data.FundingCluster.Withdraw, data.FundingCluster.Promotion
                  , data.FundingCluster.Rebate, data.GameCluster.ValidBet, data.GameCluster.Gain, data.FundingCluster.Interval, data.FundingAllCluster.Interval]
                this.pageInfo.total = data.Total
                this.fundsReportsDataTable = result
                storeSearchingParams()
                this.$store.commit('isLoading', false)
              })
          })

        function storeSearchingParams() {
          const nowHref = new URL(window.location.href)
          const searchParams = new URLSearchParams(data)
          nowHref.search = searchParams
          window.history.pushState('', '', nowHref.search)
        }
      },
      parseSearchData: function() {
        let account = null
        if (this.accountList === null && this.accountSelect !== null) {
          account = this.accountSelect
        }
        else {
          account = (this.accountSelect !== null)? _.filter(this.accountList, o => parseInt(o.id) == parseInt(this.accountSelect))[0].name : null
        }

        const data = {
          SiteCode: (this.siteSelect)? this.siteList[parseInt(this.siteSelect)-1].site_code : null,
          StartTime: this.$moment(this.operateTime[0]).format('YYYY-MM-DD HH:mm:ss') || null,
          EndTime: this.$moment(this.operateTime[1]).format('YYYY-MM-DD HH:mm:ss') || null,
          TimeZone: this.$store.state.timezone,
          Page: this.pageInfo.Page || null,
          EachPage: this.pageInfo.EachPage || null,
          UserLevel: this.layerSelect || null,
          RoleID: (this.characterSelect !== '')? this.characterList[this.characterSelect].item_id : null,
          Account: account
        }
        
        for (let item in data) {
          if (!data[item])
            delete data[item]
        }

        return data
      },
      injectSearchParamsToForm: function(searchParams) {
        this.siteSelect = _.find(this.siteList, o => o.site_code === searchParams.SiteCode).id
        this.changeSite()
          .then(() => {
            if (searchParams.UserLevel) {
              this.layerSelect = searchParams.UserLevel
            }
          })
        // console.log(searchParams.RoleID === null)
        if (searchParams.RoleID != null) {
          this.characterSelect = _.find(this.characterList, o => o.item_id === searchParams.RoleID).id
          this.changeCharacter()
            .then(() => {
              if(this.characterSelect != 3) {
                this.accountSelect = _.find(this.accountList, o => o.name === searchParams.Account).id
              }
              else {
                this.accountSelect = searchParams.Account
              }
            })
        }
        this.operateTime = [this.$moment(searchParams.StartTime), this.$moment(searchParams.EndTime)]
      },
      parseURLSearchData: function() {
        const url = new URL(window.location.href)
        if(url.search) {
          const searchParams = {}
          for(let [key, value] of url.searchParams.entries()) {
            if (key === 'TimeZone' || key === 'Page' || key === 'EachPage' || key === 'RoleID' || key === 'UserLevel')
              searchParams[key] = parseInt(value)
            else
              searchParams[key] = value
          }

          return searchParams
        }
        return false
      },
      changeSite: function() {
        return new Promise ((resolve) => {
          if (this.siteSelect)
            this.changeLayerDisabled = false
          this.blockInput(this.getLayerList(), ['layerList'])
            .then(() => {
              if (this.characterSelect != 3 && this.characterSelect !== '')
                this.blockInput(this.getAccountList(), ['accountList'])
              resolve()
            })
        })
      },
      changeCharacter: function() {
          return new Promise((resolve) => {
            this.changeAccountDisabled = true
            this.accountSelect = null
            this.accountList = null
            this.changeAccountInputType = true
            if (this.characterSelect !== '' && this.characterSelect != 3){
              this.blockInput(this.getAccountList(), ['accountList'])
                .then(() =>
                  resolve()
                )
              
            }else if(this.characterSelect == 3) {
              this.changeAccountInputType = false
              this.changeAccountDisabled = false
              resolve()
            }
          })
      },
      changeAccount: function() {
        if (this.characterSelect == 3) {
          let accountLength = this.accountSelect.length
          if (accountLength >= 3) {
            this.getInputAccountList()
          }
        }
      },
      selectPopoverItem: function(e) {
        this.accountSelect = e.target.innerHTML
        this.outFocusPopoverList()
      },
      outFocusPopoverList: function() {
        this.accountPopover = false
        this.accountPopoverLoading = false
        this.accountPopoverList = []
      },
      blockInput: function(updateData, itemName) {
        return new Promise((resolve) => {
          for (let name of itemName) {
            const itemNode = document.getElementsByClassName(name)[0].getElementsByClassName('el-input')[0]
            name === 'accountList'? this.changeAccountDisabled = true : itemNode.classList.add('is-disabled')
          }

          updateData.then(() => {
            for (let name of itemName) {
              const itemNode = document.getElementsByClassName(name)[0].getElementsByClassName('el-input')[0]
              name === 'accountList'? this.changeAccountDisabled = false : itemNode.classList.remove('is-disabled')
            }
            resolve()
          })
        })
      },
      disabledInput: function(itemName) {
        const itemNode = document.getElementsByClassName(itemName)[0].getElementsByClassName('el-input')[0]
        itemNode.classList.add('is-disabled')
      },
      getSummaries: function() {
        return this.fundsReportsDataTableSummaries
      },
      exportFile: function(command) {
        this.$store.commit('isLoading', true)
        const searchData = this.parseSearchData()
        delete searchData.Page
        delete searchData.EachPage
        searchData.ExportType = command
        searchData.Lang = 'zh-cn'
        const config = (command === 'csv')? this.axiosConfig : this.axiosBlobConfig

        this.axios.post('/api/v1/back/report/detailoffunding/export', searchData, config)
          .then((response) => {
            downloadData(response.data, command, this)
            this.$store.commit('isLoading', false)
          })
          .catch((error) => {
            console.log(error)
          })

        function downloadData(data, fileName, self) {
          if (fileName === 'csv') {
            let a = document.createElement('a');
            let url = window.URL.createObjectURL(new Blob([data], {type: 'text/csv'}));
            let filename = `${self.$moment().format('YYYY-MM-DD-HH-mm-ss')}_资金报表.` + fileName;
            a.href = url;
            a.download = filename;
            a.click();
            window.URL.revokeObjectURL(url);
          } else {
            const url = window.URL.createObjectURL(new Blob([data], {type:'application/vnd.ms-excel'}));
            const link = document.createElement('a');
            
            link.href = url;
            link.setAttribute('download', `${self.$moment().format('YYYY-MM-DD-HH-mm-ss')}_资金报表.xlsx`);
            document.body.appendChild(link);
            link.click();
          }
        }
      },
      changeDisplay: function(displayColumn) {
        const column = [0, 1, 2, 10]
        const displayNoneColumn = column.filter(x => !displayColumn.includes(x))
        for (let column of displayNoneColumn) {
          const columnItem = document.getElementsByClassName(`column_${column+1}`)
          for (let item of columnItem) {
            item.setAttribute('style', 'display: none;')
          }
        }

        for (let column of displayColumn) {
          const columnItem = document.getElementsByClassName(`column_${column+1}`)
          for (let item of columnItem) {
            item.setAttribute('style', '')
          }
        }
      },
      dividedData: function(dataList) {
        this.dividedDataTable = dataList
      }
    },
    computed: {
      fetchFundsReportsDataTable: function (){
        if (this.fundsReportsDataTable){
          _.forEach(this.fundsReportsDataTable, (value) => {
              const date = value.LastDepositCluster.Date
              if(date !== '-')
                this.$set(value.LastDepositCluster, 'dateOffset', this.$moment(date)
                    .add(this.$store.state.timezone, 'hours').format('YYYY-MM-DD HH:mm:ss'))
              else
                value.LastDepositCluster.dateOffset = '-'
            })
        }
        
        return this.fundsReportsDataTable
      }
    }
  };
</script>

<style lang="scss" src='@/assets/FundsReports/funds-reports.scss' scoped>
</style>