<template lang="pug">
  div.login-container
    div.background_layer-1.background_shine
      div.background_layer-2
        - for (let i = 0; i < 7; i++)
          ul.hexagon__platform
            - for (let o = 0; o < 15; o++)
              li.hexagon__platform-box
                div.hexagon(item-count=`${o+(10*i)}`)

    div.login-form
      form.login-form__form
        h1.login-form__title mega7
        div.login-form__row
          div.login-form__content
            span 帐号
            input.login-form__content-input(type='text' placeholder='请输入帐号' autocomplete='off' )
            
        div.login-form__row
          div.login-form__content
            span 密码
            input.login-form__content-input(type='password' placeholder='请输入密码' autocomplete='off')
        div.login-form__row
            label.login-form__checkbox-row
              input.login-form__checkbox(type='checkbox')
              span.login-form__checkbox-label 记住我的登录
      button.login-form__submit.login-form__button_primary(type='button' @click.prevent='login') 登录
      span.login-form__signtag tag: feature/add-tomezone/v1--dev

      
</template>

<script>
export default {
  name: 'LoginPage',
  data() {
    return {
      ip: ''
    }
  },
  created: async function() {
    if (localStorage.getItem('apiToken') || this.$store.state.apiToken){
      this.$router.push({name: 'Dashboard'})
    }

    const ip = await this.axios.get('/api/ping')
      .then((response) => {
        return response.data.result.ip
      })
      .catch((error) => {
        console.log(error)
      })

    this.ip = ip
    localStorage.setItem('ip', this.ip)
    await this.axios.get(`/api/maintain/check/${this.ip}`)
      .catch((error) => {
        console.log(error)
      })
  },
  mounted: function(){
    const hexagonNode = document.getElementsByClassName('hexagon')
    
    for (let item of hexagonNode) {
      const thisNodeCount = parseInt(item.getAttribute('item-count'))
      let styleString = ''

      if (!(thisNodeCount % 10)){
        continue
      }
      else if (thisNodeCount % 2) {
        styleString = `
          top: -125px;
          left: ${-75 * (thisNodeCount % 10)}px;
        `
      }
      else {
        styleString = `
          left: ${-75 * (thisNodeCount % 10)}px;
        `
      }

      styleString += `
        animation-delay: ${Math.floor(Math.random() * 5)}s;
        animation-duration: ${Math.floor(Math.random() * 10)+5}s;
      `

      item.setAttribute('style', styleString)
    }
  },
  methods: {
    login() {
      const loginData = document.getElementsByClassName('login-form__content-input')
      const accountData = {
        account: loginData[0].value,
        password: loginData[1].value,
        ip: this.ip
      }

      const config = {
        headers: {
          'content-type': 'application/x-www-form-urlencoded'
        }
      };

      this.axios.post(`/api/login`, accountData, config)
        .then((response) => {
          if (response.data.code === '1' && response.data.result.api_token && response.data.result.key){
            (async function (self){
              localStorage.setItem('account', accountData.account)
              localStorage.setItem('apiToken', response.data.result.api_token)
              await self.$store.commit('loginAuth', response.data.result.api_token)
              await self.$router.push('Dashboard')
            })(this)
          }
          else
            return '登入失敗'
        })
        .catch((error) => {
          console.log(error)
        })
    }
  }
}
</script>

<style src='../assets/LoginPage/login-page.css' scoped>
</style>

<style lang="scss">
  .container {
    position: relative;
    height: 100%;
    overflow: scroll;
    background: #E4E7ED;
  }
</style>