<template lang="pug">
  .loading-pannel
    font-awesome-icon.loading-circle(icon='spinner')
</template>

<style lang="scss">
  .loading-pannel {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 300;
    background: rgba(255,255,255,.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading-circle {
    position: relative;
    animation: loading 2s 0s linear infinite;
  }

  @keyframes loading {
    100% {
      transform: rotate(360deg);
    }
  }
</style>