<template lang="pug">
  .pagination-label
    el-select(v-model='eachPageSelect')
      el-option(v-for='item in eachPageOptions' :key='item.value' :label='item.label' :value='item.value')
    span.pagination-label__label / 頁
    button.pagination-label__prev-page(@click='prev')
      font-awesome-icon.fa-lg(icon='angle-left')
    span.pagination-label__label 現在第
    input.pagination-label__input-page(type='text' :value='nowPage' @keyup='changePage')
    span.pagination-label__label 頁 / 共 {{ limitPage }} 頁
    button.pagination-label__next-page(@click='next')
      font-awesome-icon.fa-lg(icon='angle-right')
</template>

<script>
export default {
  name: 'TablePagination',
  props: ['dataList', 'eachPage', 'total'],
  data() {
    return {
      nowPage: 1,
      limitPage: 1,
      eachPageOptions: [{
        value: 10,
        label: '50筆'
      },{
        value: 100,
        label: '100筆'
      },{
        value: 200,
        label: '200筆'
      }],
      eachPageSelect: 50,
    }
  },
  methods: {
    changePage: function(e) {
      if(e.target.value !== '')
        this.nowPage = this.pageLimit(parseInt(e.target.value))
    },
    prev: function(){
      let page = this.nowPage
      this.nowPage = this.pageLimit(page - 1)
    },
    next: function() {
      let page = this.nowPage
      this.nowPage = this.pageLimit(page + 1)
    },
    pageLimit: function(calcedPage) {
      if(calcedPage < 1) {
        calcedPage = 1
        shakeInput()
      }
      else if(calcedPage > this.limitPage) {
        calcedPage = this.limitPage
        shakeInput()
      }

      return calcedPage

      function shakeInput() {
        const node = document.getElementsByClassName('pagination-label__input-page')[0]
        node.style.animation = 'shake .3s linear 1'
        setTimeout(() => {
          node.style.animation = ''
        }, 520);
      }
    }
  },
  computed: {
    divideDataList: function() {
      return this.dataList
    }
  },
  watch: {
    divideDataList: function() {
      this.$emit('divideDataTable', this.dataList)
    },
    nowPage: function() {
      this.$emit('changePage', {Page: this.nowPage, EachPage: this.eachPageSelect, total: this.total})
    },
    total: function() {
      this.limitPage = Math.ceil(this.total / this.eachPageSelect)
    }
  }
}
</script>

<style lang="scss">
  $itemMargin: 5px;
  
  @keyframes shake {
    0%, 40%, 80% {
      left: -5px;
    }
    20%, 60% {
      left: 5px;
    }
    100% {
      left: 0px;
    }
  }

  .pagination-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 30px
  }

  .pagination-label__prev-page, .pagination-label__next-page {
    height: 30px;
    width: 50px;
    margin: $itemMargin;
    background: rgb(85, 158, 236);
    border: none;
    border-radius: 5px;
    color: white;
    transition: .2s;

    &:hover {
      cursor: pointer;
      background: #66B1FF;
    }
  }

  .pagination-label__input-page {
    position: relative;
    height: 24px;
    width: 70px;
    margin: $itemMargin;
    font-size: 18px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(194, 194, 194);
  }

  .pagination-label__label {
    font-size: 20px;
    margin: $itemMargin;
  }
</style>