<template lang="pug">
  .now-data
    .now-data__online-count
      .online-circle
      | 在线人数： {{ onlineCount }} 人
    .now-data__deposit
      .deposit-circle
      | 入款申请： {{ deposit }} 笔
    .now-data__withdraw
      .withdraw-circle
      | 出款申请： {{ withdraw }} 笔
</template>

<script>
export default {
  name: 'TopBannerNowData',
  data() {
    return {
      onlineCount: 0,
      deposit: 0,
      withdraw: 0
    }
  },
  mounted: function (){
    getCurrentData(this)
    const inter = setInterval(() => {
      getCurrentData(this)
    }, 30000)
    this.$store.commit('appendInternalList', inter)

    function getCurrentData(self) {
      
      const config = {
        headers: {
          'Api-Token': self.$store.state.apiToken
        }
      };

      self.axios.get('/api/current/data', config)
        .then((response) => {
          const responseResult = response.data.result
          self.onlineCount = responseResult.user_num
          self.deposit = responseResult.deposit_total
          self.withdraw = responseResult.withdraw_total
        })
        .catch((error) => {
          console.log(error)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  @mixin circle($color) {
    height: 8px;
    width: 8px;
    background-color: $color;
    display: inline-block;
    border-radius: 50%;
  }
  
  .now-data {
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: left;
    padding: 6px;
    color: #767474;

    &>div {
      padding-left: 20px;
      padding-top: 5px;
      font-size: 12px;

      &>div {
        margin-right: 8px;
      }
    }
  }

  .online-circle {
    @include circle(#52C31B);
  }

  .deposit-circle {
    @include circle(#FA9800);
  }

  .withdraw-circle {
    @include circle(#F80701);
  }
</style>