<template lang="pug">
  mixin dropdwonItem(content, command)
    el-dropdown-item.timezone-item(command= command) #{content}

  .top-timmer
    el-dropdown(trigger='click' @command='onSwitch')
      span.el-dropdown-link {{ nowTime }}
        i.el-icon-arrow-down.el-icon--right
      el-dropdown-menu(slot='dropdown')
        +dropdwonItem('北京時間', 0)
        +dropdwonItem('美東時間', 1)
        +dropdwonItem('近東時間', 2)
        +dropdwonItem('UTC時間', 3)

</template>

<script>
export default {
  name: 'TopBannerTimmer',
  data() {
    return {
      // 0 北京 1 美東 2 近東 3 UTC
      timezone: {
        option: 0,
        offset: 480
      },
      nowTime: this.$moment().utcOffset(480).format('YYYY-MM-DD HH:mm:ss (ZZ)')
    }
  },
  mounted: function() {
    this.changeActive()
    setInterval(() => {
      this.nowTime = this.$moment().utcOffset(this.timezone.offset).format('YYYY/MM/DD HH:mm:ss (ZZ)')
    }, 1000)
    const timezone = localStorage.getItem('timezone')
    if(timezone !== null) {
      switch (parseInt(timezone)) {
        case 8:
          this.onSwitch(0)
          break
        case -4:
          this.onSwitch(1)
          break
        case 4:
          this.onSwitch(2)
          break
        case 0:
          this.onSwitch(3)
          break
      }
    }
  },
  methods: {
    onSwitch: async function(command) {
      await this.switchTimeZone(command)
      await this.changeActive()
    },
    switchTimeZone: function(command){
      switch (parseInt(command)) {
        default:
        case 0:
          this.timezone.option = 0
          this.timezone.offset = 480
          this.$store.commit('settingTimeZone', 8)
          break
        case 1:
          this.timezone.option = 1
          this.timezone.offset = -240
          this.$store.commit('settingTimeZone', -4)
          break
        case 2:
          this.timezone.option = 2
          this.timezone.offset = 240
          this.$store.commit('settingTimeZone', 4)
          break
        case 3:
          this.timezone.option = 3
          this.timezone.offset = 0
          this.$store.commit('settingTimeZone', 0)
          break
      }
    },
    changeActive: function() {
      const timezoneItem = document.getElementsByClassName('timezone-item')
      for (let value of timezoneItem) {
        value.classList.remove('is-active')
      }
      timezoneItem[this.timezone.option].classList.add('is-active')
    }
  }
}
</script>

<style lang="scss" scoped>
  .top-timmer {
    width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 12px;
  }

  .el-dropdown-link {
    cursor: pointer;
    
    &:hover {
      color: #409EFF;
    }
  }

  .is-active {
    color: #409EFF;
  }

  .demonstration {
    display: block;
    color: #8492a6;
    font-size: 14px;
    margin-bottom: 20px;
  }
</style>