<template lang='pug'>
  #app
    SiderNavbar(v-if=`$store.state.apiToken`)
    TopBanner(v-if=`$store.state.apiToken`)
    .container
      router-view
</template>

<script>
import SiderNavbar from '@/components/SiderNavbar/SiderNavbar.vue'
import TopBanner from '@/components/TopBanner/TopBanner.vue'

export default {
  components: {
    SiderNavbar, TopBanner
  },
  created: function() {
    if (localStorage.getItem('apiToken'))
      this.$store.commit('loginAuth', localStorage.getItem('apiToken'))
  },
}
</script>

<style lang="scss">
  body {
    margin: 0 auto;
  }

  .container {
    position: relative;
    height: 100%;
    overflow: scroll;
    background: #E4E7ED;
  }

  .el-popover {
    padding: 0 !important;
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    position: relative;
    // width: 100%;
    height: 100vh;

    .sider-navbar {
      width: 212px;
    }
  }

  #nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
</style>
